// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation
.container-fluid.fixed-top {
    /*min-height: 100px;
    padding: 20px 0; */
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    top: -40px;
    transform: translateY(40px);
    //transition: transform .3s;
	transition: transform 0.6s;
    z-index: 999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
 }

 .container-fluid.fixed-top img
 {
    //width:130px;
    transform: scale(0.9,0.9);
    transition: 0.3s linear; 
 }

 /*
 .container-fluid img:hover
 {
    transform: scale(0.8,0.8);
    transform:rotate(3.14159rad);
    transition: 0.3s linear;
  
 }
 */


/* 56px */
.toTop-arrow {
	width: 5rem;
	height: 5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 3rem;
	bottom: 3rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 30px;
	height: 7px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}


//lazyload css
/* fade image in after load */

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 800ms;
}
