<!-- funfacts -->
{{ with .Params.funfacts }}
{{ if .enable }}
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            {{ range .funfact_item }}
            <li class="counter-item">
              <i class="{{ .icon }}"></i><br />
              <h4 class="count" data-count="{{ .count }}">0</h4>
              <span>{{ .name | markdownify }}</span>
              
             
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!--國家設定-->
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .testimonial_slider }}
            <div>
              <i class="ion-quote"></i>
              {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
              <div class="user">
               <img class="lazyload" data-src="{{ .image | relURL }}" width="300" height="400" alt="client"> 
               <!-- <img src="{{ .image | relURL }}" alt="client"> -->
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end}}
{{ end}}
<!-- /funfacts -->